@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


:root{
    --primary-color:#f2726a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right,#8198cc,#333);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background: #242628;
    width: 300px;
    height: 480px;
    border-radius: 10px;
    text-align: center;
    font-family: "Poppins";
    overflow: hidden ;
  
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    transition: 0.5s;
}

.card_img{
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transform: translateY(25px);
    transition: 1s;
}

.card p {
    color: var(--primary-color);
}
.link{
    margin: 25px;
}

.link a{
    color: white;
    margin: 25px 20px;
    font-size: 20px;
}
.link a:hover{
    color: #f2726a;
}
.card button{
    width: 100px;
    height: 50px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.card button:hover{
    background-color: #f2726a;
}

.card h2{
    color: white;
    margin: 35px;
}

.card_img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;

}

